@font-face{
    /* font-family: 'Ubuntu Mono', monospace;
    src: url(https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap); */

    font-family: Avenir;
    src: url(/fonts/Avenir\ Next\ LT\ Pro/Avenir_Next_LT_Pro.ttf);
}

@font-face{
    font-family: Avenir_Bold;
    src: url(/fonts/Avenir\ Next\ LT\ Pro/Avenir_Next_LT_Pro_Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Avenir_Light;
    src: url(/fonts/Avenir\ Next\ LT\ Pro/Avenir_Next_LT_Pro_Light.ttf);
    font-weight: lighter;
}

:root {
    /* --prelimine-Orange: #dd6d4f; */
    --prelimine-Orange: 221, 109, 79;
    /* --prelimine-Blue: #4d82b8; */
    --prelimine-Blue: 77, 130, 184;
    /* --prelimine-Gray: #808080; */
    --prelimine-Gray: 128, 128, 128;
}

.orange {
    color: rgba(var(--prelimine-Orange), 1);
}
.blue {
    color: rgba(var(--prelimine-Blue), 1);
}
.gray {
    color: rgba(var(--prelimine-Gray), 1);
}

body {
    margin: unset;
    padding: unset;

    display: grid;
    place-items: center;

    font-family: Avenir, sans-serif;
}

.wrapper {
    /* width: 375px; */
    width: Calc(375px - 2em);
    margin: auto;
}

.hidden {
    display: none;
}

.card {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 15px;

    background-color: whitesmoke;
}

/* !I #region stacked //////////////////////////////////////////////////////////// */
    .stacked {
        display: grid;
        grid-template: 1fr / 1fr;
        place-items: center;
    }

    .stacked > * {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    .stacked .below {
        z-index: 0;
    }

    .stacked .top {
        z-index: 1;
    }
/* !I #endregion //////////////////////////////////////////////////////////// */

button {

    margin-left: 5px;
    margin-right: 5px;
    min-width:25px;
    min-height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: inherit;
    border: 0;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(var(--prelimine-Gray), .2);
    font-weight: bold;
}

button > img {
    color:rgb(var(--prelimine-Blue));
}

.button-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    justify-content: space-between;
}

form label {
    max-width: 150px;
    margin: 10px 0;
}

div > input, select{
    /* display:contents; */
    padding: 10px 5px;
    height:fit-content;

    text-align: center;
    border: 1px solid rgb(var(--prelimine-Gray));
    background-color: inherit;
    border-radius: 5px;

    margin: 5px;
    width: 100px;
}

input:active, input:focus, select:active, select:focus{
    background-color: rgba(var(--prelimine-Orange), 0.25);
}

select {
    width: 110px;
}

.checkbox {
    /* display: grid; */
    justify-items: center;
    align-items: center;
    /* background-color: rgba(var(--prelimine-Orange), 1); */
}

/* ! #region checkbox toggle //////////////////////////////////////////// */

.checkbox-wrapper{
    width: 90px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--prelimine-Gray), 1);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:whitesmoke;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(var(--prelimine-Blue), 1);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgba(var(--prelimine-Blue), 1);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
    /* ! #endregion ///////////////////////////////////////////////////////////// */

h1 {
    font-size: 2.5rem;
    color: rgb(var(--prelimine-Orange));
    text-align: center;
    margin-top: 0;
}

.prelimine {
    font-size: 1.5rem;
    color:rgba(var(--prelimine-Blue), 1);
}

.prelimine-credit {
    font-size: 1.3em;
    color:rgba(var(--prelimine-Blue), 1);
}

.maker-credit {
    color: rgb(var(--prelimine-Orange));
}

p {
    /* line-height: 5px; */
    margin-bottom: 5px;
}

hr {
    width: 75%;
}
a {
    text-decoration: unset;
    /* display: inline-block;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
    margin: 10px; */
}
a:hover{
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.big-text {
    font-size: 3.5rem;
}

.small-text {
    font-size: 0.8rem;
}
.small-small-text {
    font-size: 0.65rem;
}
.bold {
    font-weight: bold;
}

.lighter {
    font-weight:lighter;
}

.normal-weight {
    font-weight: normal;
}

code {
    background-color: rgba(var(--prelimine-Gray),.7);
    color: whitesmoke;
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.img-wrapper {
    position: absolute;
    right: 0;
    top: 5px;
    /* display:grid;
    justify-items: end; */
}

.inline {
    display: inline;
}

.center {
    display: grid;
    align-content: center;
    justify-content: center;
}

center-text {
    text-align: center;
}

table {
    margin: 15px auto;
    background-color: whitesmoke;
    border: none;
    border-spacing: 0;

    table-layout:fixed;
}

table > thead {
    /* align-items: flex-start; */
    font-weight: 800;
    font-size:.8em;
}

tbody > tr:hover {
    background-color: rgba(var(--prelimine-Orange), 0.25);
    font-weight: bold;
}

tbody > tr:hover > .table-months {
    font-size: 0.85em;
}

thead > tr > th {
    border-bottom: 1px solid rgb(var(--prelimine-Gray));
    background-color: whitesmoke;
    position: sticky;
    top: 0;
}

tr, th, td {
    margin: 0;
    padding: 10px;
}

td > input {
    padding: 5px;
    text-align: center;
    border: transparent;
    /* background-color: inherit; */
    /* background-color:rgba(var(--prelimine-Gray),.1); */
    background-color: transparent;
    border-radius: 5px;

    margin: auto;
}

input:placeholder-shown {
    /* color: rgba(var(--prelimine-Blue), 5); */
    /* font-size: 0.85em; */

    background-color: rgba(var(--prelimine-Gray), .1);
}

.table-months {
    text-align: left;
    padding-right: 0;

    /* width: calc(fit-content + 10px); */
    width: 70px;
}

.table-number *{
    text-align: right;
    /* font-weight: bold; */
}

.table-pro-bono * {
    /* color:rgba(var(--prelimine-Gray),1); */
    font-size: 75%;
    /* font-weight: bold; */
}

.th-number {
    align-self: right;
    padding-right:5px;
}

.checked {
    background-color: rgba(var(--prelimine-Blue), 1);
}

#outputs {
    z-index: 1;
    position: sticky;
    top: 0;

    margin-top: 0;
    border-radius: 0 0 15px 15px;
}

#outputs-data *{
    display:block;
}

#outputs-data > * {
    display:flex;
    justify-content: space-between;
}


#inputs {
    background: whitesmoke;
}

.instructions {
    font-size: .9em;
}

#madeBy {
    font-size: .8em;
    text-align: center;
    padding: 15px 0;
}

.disclaimer p{
    font-size: 8px;
    text-align: justify;
    padding: 0;
    margin: 0;
}

.mobile {
    display: none;
}

/* mobile */
@media screen and (max-device-width: 900px) {
    .instructions.mobile {
        display: inherit;
        font-size: .9em;
    }
    
    .instructions.desktop {
        display: none;
    }
}